*
{
    box-sizing: border-box;
}

body 
{
    margin: 0;
}

.nav-bar
{
    background-color: black;
    width: 100%;
    height: 200px;
}

.nav-bar img
{
    height: 150px;
    margin: 25px 0 0 50px;
}