
@use './header_flex';
@use './btn';

$primary-btn: #3498db;
$secondary-btn: #2ecc71;

body
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.btn1
{
    background-color: bisque;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    a
    {
        text-decoration: none;
        color: $primary-btn;
        background-color: #2ecc71;
        padding: 5px;
        border-radius: 5px;
        font-weight: bold;
        &:hover
        {
            background-color: darken($secondary-btn, 10%);
            color: white;
        }
    }
  
}

.btn2
{
    margin: 10px;
    padding: 10px;
    background-color: coral;
    display: flex;
    flex-direction: column;
    align-items: center;

    a
    {
        @include btn.primary-btn(white, $primary-btn);
        &:hover
        {
            background-color: darken($primary-btn, 10%);
        }

    }
}